{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="form-group">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{form.as_p}}
            <input class="form-control" type="hidden" name="next" value = "{{next}}" id="">
            <p><input class="btn btn-primary" type="submit" value = "Log-in"  name="" id=""></p>
        </form>
    </div>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}